<form [formGroup]="regForm" (ngSubmit)="onSubmit()" #regFormGD="ngForm">

  <mat-card>
    <mat-card-header class="no-title-margin">
      <mat-card-title >Registration Form</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <mat-form-field>
          <input matInput type="text" placeholder="First Name*"  name="firstName" [formControl]="firstName"/>
          <mat-error *ngIf="firstName.hasError('required')">
            First name is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="firstName.hasError('minlength')">
            Please insert at-least 2 characters
          </mat-error>
          <mat-error *ngIf="firstName.hasError('maxlength')">
            First Name can not be longer then 35 characters
          </mat-error>
          <mat-error *ngIf="firstName.hasError('pattern')">
            Please use english alphabet only
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="text" placeholder="Last Name*" name="LastName" [formControl]="lastName"/>
          <!-- There is some duplication here, but from experience... its usually worth it to leave these duplicated -->
          <mat-error *ngIf="lastName.hasError('required')">
            First name is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="lastName.hasError('minlength')">
            Please insert at-least 2 characters
          </mat-error>
          <mat-error *ngIf="lastName.hasError('maxlength')">
            Last Name can not be longer then 35 characters
          </mat-error>
          <mat-error *ngIf="lastName.hasError('pattern')">
            Please use english alphabet only
          </mat-error>
        </mat-form-field>
      </div>


      <div class="row">
        <mat-form-field>
          <input matInput type="text" placeholder="Address" name="address" [formControl]="address"/>
          <mat-error *ngIf="address.hasError('minlength')">
            Please insert at-least 2 characters
          </mat-error>
          <mat-error *ngIf="address.hasError('maxlength')">
            Address Name can not be longer then 50 characters
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <input matInput type="tel" placeholder="Phone Number*" name="telephone" [formControl]="telephone">
          <mat-error *ngIf="telephone.hasError('required')">
            First name is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="telephone.hasError('pattern')">
            Invalid phone number
          </mat-error>
        </mat-form-field>
      </div>


      <button mat-raised-button color="primary" type="submit">Submit</button>



    </mat-card-content>
  </mat-card>



</form>